@import "../../../css/base.css";

.summary-horizontal-bar-chart {
  padding: 12px;
  background-color: var(--g3-color__white);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.summary-horizontal-bar-chart svg {
  overflow: visible;
}

.summary-horizontal-bar-chart__legend {
  width: 20%;
  float: left;
}

.summary-horizontal-bar-chart__legend-item {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: .03rem;
  color: var(--g3-color__gray);
  margin: 6px 0;
  text-align: right;
}

.summary-horizontal-bar-chart__title-box {
  text-align: center;
  border-bottom: solid var(--g3-color__black) 1px;
  height: 22px;
}

.summary-horizontal-bar-chart__title {
  line-height: 10px;
  margin-bottom: 12px;
}

.summary-horizontal-bar-chart__responsive-container {
  float: right;
  width: 80%;
  height: 100%;
}

#recharts_measurement_span {
  display: none;
}