.commons-login {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.commons-login__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.commons-login__logo {
  max-height: 80px;
  margin-bottom: 10px;
}
