@import "../../../css/base.css";
@import "../../../css/icon.css";

.single-select-filter {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.single-select-filter__checkbox {
  margin: 0 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: var(--g3-color__white);
  height: 18px;
  min-width: 18px;
  border: 1px solid var(--g3-color__lightgray);
  border-radius: 2px;
}

.single-select-filter__checkbox:checked {
  background: var(--g3-color__highlight-orange);
}

.single-select-filter__checkbox:disabled {
  background: var(--g3-color__smoke);
}

.single-select-filter__checkbox:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid var(--g3-color__white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.single-select-filter__checkbox:checked:after {
  display: block;
}

.single-select-filter__label {
  margin: 0;
  flex-grow: 1;
}

.single-select-filter__icon-background {
  height: 14px;
  align-items: center;
  width: 14px;
  background-color: var(--g3-color__silver);
  border-radius: 2px;
  line-height: 0;
  border: 2px solid var(--g3-color__silver);
}