@import "../../../css/base.css";
@import "../../../css/icon.css";

.g3-filter-section {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 14px;
  background-color: var(--g3-color__white);
  border-left: 1px solid var(--g3-color__silver);
  border-right: 1px solid var(--g3-color__silver);
  border-bottom: 1px solid var(--g3-color__silver);
}

.g3-filter-section:first-child {
  border-top: 1px solid var(--g3-color__silver);
}

.g3-filter-section__header {
  display: flex;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
}

.g3-filter-section__title {
  font-size: 14px;
  font-weight: var(--g3-font__semi-bold-weight);
  color: var(--g3-color__black);
  margin: 0;
}

.g3-filter-section__options {
  font-size: 14px;
  color: var(--g3-color__gray);
}

.g3-filter-section__toggle-icon {
  background-color: var(--g3-color__lightgray);
}

.g3-filter-section__show-more {
  border: none;
  outline: none;
  color: var(--g3-color__base-blue);
  cursor: pointer;
  margin-top: 15px;
  text-align: right;
}
