.range-filter {
  width: 100%;
  padding: 14px 14px;
  box-sizing: border-box;
}

.range-filter__title {
  margin: 0;
}

.range-filter__bounds {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.range-filter__bound {
  margin: 0;
}

/* Overrides for rc-slider */
.rc-slider-handle {
  border-radius: 0;
  width: 10px;
  border: 1px solid var(--g3-color__lightgray);
  outline: none;
}

.rc-slider-handle:hover {
  border: 1px solid var(--g3-color__base-blue);
}

.rc-slider-handle:active {
  border: 1px solid var(--g3-color__base-blue);
  box-shadow: 0 0 5px var(--g3-color__base-blue);
}

.rc-slider-track {
  background-color: var(--g3-color__highlight-orange);
  border-radius: 2px;
}
