@import "../../../css/base.css";

.g3-range-filter {
  width: 100%;
  padding: 14px 14px;
  box-sizing: border-box;
}

.g3-range-filter__title {
  margin: 0;
}

.g3-range-filter__bounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 14px 0;
}

.g3-range-filter__bound {
  margin: 0;
  /* if no max-width this thing will take full length in FF */
  max-width: 6em;
}

/* Overrides for rc-slider */
.rc-slider-handle {
  border-radius: 0;
  width: 10px;
  border: 1px solid var(--g3-color__lightgray);
}

.rc-slider-handle:hover {
  border: 1px solid var(--g3-color__base-blue);
}

.rc-slider-handle:active {
  border: 1px solid var(--g3-color__base-blue);
  box-shadow: 0 0 5px var(--g3-color__base-blue);
}

.rc-slider-track {
  background-color: var(--g3-color__highlight-orange);
  border-radius: 2px;
}

.g3-range-filter__slider--inactive .rc-slider-track {
  background-color: var(--g3-color__lightgray);
}

/* Slider Redesign 10/2022 */

.g3-range-filter__bounds {
  color:#65a2d5;
}
.g3-range-filter__bound {
  display: block;
  color: black;
  border: 2px solid #f4f4f4;
  padding-left: 5px;
}
.g3-range-filter__divider {
  margin-top: 22px;
  color: black;
}
.g3-range-filter__total {
  background: #e7e7e7;
  color: #629ed0;
  min-width: 80px;
  height: 25px;
  padding-top: 1px;
  margin-top: 25px;
  font-weight: 300;
  text-align: center;
}
.rc-slider-track {
  background-color: #3786c9;
}
.rc-slider-handle {
  border-radius: 20px;
  width: 14px;
  border: 3px solid #3786c9;
}
.rc-slider-handle:hover, .rc-slider-handle:focus {
  border: 3px solid rgba(55,134,201,0.7);
  box-shadow: none;
}
